{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-var": "warn",
    "comma-dangle": ["warn", "always-multiline"]
  }
}
